.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.modal-open .card-grid {
  display: flex;
  flex-direction: column;
}