.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 24px; /* Augmenter la taille de la police */
  margin-bottom: 15px;
}

.search-input {
  width: 800px; /* Réduire la largeur de l'input */
  height: 60px;
  border: 2px solid #27357C; /* Modifier les bordures */
  color: #27357C;
  font-size: 24px; /* Ajuster la taille de la police */
  margin-right: 10px; /* Ajouter un espacement entre l'input et le bouton */
}

.btn-search {
  width: 200px;
  height: 60px;
  color: #FFFFFF;
  border: 2px solid #27357C; /* Modifier les bordures */
  background-color: #F5A144; /* Modifier la couleur de fond */
  font-size: 24px; /* Ajuster la taille de la police */
}
